.service-card-1{
    background-image: url("../../images/Image-Icon/hipcravo-5UbIqV58CW8-unsplash-min.jpg");
background-repeat: no-repeat;
background-size: cover;


}
.service-card-2{
    background-image: url("../../images/Image-Icon/daniel-apodaca-WdoQio6HPVA-unsplash-min.jpg");
background-repeat: no-repeat;
background-size: cover;

}
.service-card-3{
    background-image: url("../../images/Image-Icon/penguinuhh-8VI6WwEEEHw-unsplash-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}