.training-card-1 {
  background-image: url("../../images/Image-Icon/arthur-edelman-qfjuh4OLdxw-unsplash-min.jpg");
  background-size:370px;
  background-repeat: no-repeat;
}
.training-card-2 {
  background-image: url("../../images/Image-Icon/bruce-mars-gJtDg6WfMlQ-unsplash-min.png");
  background-size: 370px;
  background-repeat: no-repeat;
}
